* {
    padding: 0;
    margin: 0;
}

h1 {
    color: #DC143C;
    font-family: impact;
    font-size: 30px;
    font-weight: 150;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

p {
    color: #111;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    font-weight: 150;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}
