title {
    color: #111;
}

label,
text, a {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 150;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}
